<div class="col-md-3">
  <br>
</div>

<div class="col-md-6">
  <div class="panel panel-body center">
    <h1>Report</h1>
    <hr>
    <h3>Direction: <%= @output %></h3><br/>
    <hr>
    <%= link_to 'Retry', new_robot_path, class: "btn btn-default" %>
  </div>
</div>


<div class="col-md-3">
  <br>
</div>
